## 판다스?

테이터프레임(엑셀과 비슷) 과 시리즈라는 자료형  
데이터 분석을 위한 다양한 기능을 제공하는 라이브러리  
R의 데이터프레임에 영향  
내부적으로 numpy 를 사용하므로 함께 import  

http://pandas.pydata.org

기능요약  
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

# Series

In [1]:
import pandas as pd
import numpy as np

In [6]:
x = [1, 2, 3, 4, 5]
pd.Series(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
x = np.array([1, 2, 3, 4, 5])
pd.Series(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
x = [1, 2, 3, 4, 5]
x = pd.Series(x)

# print(x[0])
# print(x[1: 3])
# print(x[::-1])
# print(x[x > 3])
# print(x + 1)
# print(x * 10)
print(x + x)

0     2
1     4
2     6
3     8
4    10
dtype: int64

# Series Index

In [15]:
import pandas as pd
import numpy as np

x = [1, 2, 3, 4, 5]
x = pd.Series(x)
print(x.index)
print(x.values)

RangeIndex(start=0, stop=5, step=1)
[1 2 3 4 5]

In [29]:
# 참고
temp = dict(zip(['a', 'b','c','d','e'], range(1, 6)))
temp.keys()
# temp.values()
temp.get('f', 0)

0

In [32]:
x = [1, 2, 3, 4, 5]
x = pd.Series(x, index=['a','b','c','d','e']) #인덱스설정
print(x)
print(x['a']) #명시적 인덱스접근
print(x[0]) #묵시적 인덱스접근
print(x[['a','e']]) #팬시색인, 한번에 여러값 접근
print(x.a)

a    1
b    2
c    3
d    4
e    5
dtype: int64
1
1
a    1
e    5
dtype: int64
1

In [41]:
x = [1, 2, 3, 4, 5]
x = pd.Series(x, index=[1, 2, 3, 4, 5])
# print(x)
# x[0] # 오류
print(x.iloc[2]) #묵시적 인덱스로만
print(x.loc[3]) #명시적 인덱스로만

3

## 딕셔너리 to Series

In [42]:
x = {"수학":90, "영어":80, "과학":95, "미술":80}
x = pd.Series(x)
x

수학    90
영어    80
과학    95
미술    80
dtype: int64

In [43]:
print(x['수학'])

90

In [44]:
print(x['영어':])

영어    80
과학    95
미술    80
dtype: int64

In [45]:
# 참고
x.수학

90

In [46]:
x = {"수학":90, "영어":80, "과학":95, "미술":80}
x = pd.Series(x, index=["수학", "영어", "과학"])
x

수학    90
영어    80
과학    95
dtype: int64

## Multi Index

In [47]:
student_1 = {"수학":90, "영어":80, "과학":95, "미술":80}
student_2 = {"수학":70, "영어":90, "과학":100, "미술":70}

# index_1 = ['홍길동','홍길동','홍길동','홍길동','이몽룡','이몽룡','이몽룡','이몽룡']
index_1 = ['홍길동' for i in range(len(student_1))] + ['이몽룡' for i in range(len(student_2))]
print(index_1)

['홍길동', '홍길동', '홍길동', '홍길동', '이몽룡', '이몽룡', '이몽룡', '이몽룡']

In [49]:
#index_2 = ['수학','영어','과학','미술','수학','영어','과학','미술']
index_2 = [key for key in student_1] + [key for key in student_2]
print(index_2)

['수학', '영어', '과학', '미술', '수학', '영어', '과학', '미술']

In [50]:
value_all = list(student_1.values()) + list(student_2.values())
print(value_all)
students = pd.Series(value_all, index=[index_1, index_2])
print(students)

[90, 80, 95, 80, 70, 90, 100, 70]
홍길동  수학     90
     영어     80
     과학     95
     미술     80
이몽룡  수학     70
     영어     90
     과학    100
     미술     70
dtype: int64

In [55]:
students['홍길동']

수학    90
영어    80
과학    95
미술    80
dtype: int64

In [57]:
students['이몽룡']['수학'] # students['이몽룡', '수학']

70

## 결측값 처리방법 (NaN. None)

In [67]:
data = [1, None, 2, None, 3, 4, None]
x = pd.Series(data)
print(x)

0    1.0
1    NaN
2    2.0
3    NaN
4    3.0
5    4.0
6    NaN
dtype: float64

In [59]:
print(x.sum())
print(x.max())
print(x.min())

10.0
4.0
1.0

In [61]:
print(x)

0    1.0
1    NaN
2    2.0
3    NaN
4    3.0
5    4.0
6    NaN
dtype: float64

In [62]:
#결측값 개수
print(x.isnull())
print(x.isnull().sum())
print(x.notnull())
print(x.notnull().sum())

0    False
1     True
2    False
3     True
4    False
5    False
6     True
dtype: bool
3
0     True
1    False
2     True
3    False
4     True
5     True
6    False
dtype: bool
4

In [68]:
#결측값 제거
print(x.dropna()) # inplace=True

0    1.0
2    2.0
4    3.0
5    4.0
dtype: float64

In [71]:
#결측값을 다른값으로 채우기
x.fillna(x.median())

0    1.0
1    2.5
2    2.0
3    2.5
4    3.0
5    4.0
6    2.5
dtype: float64

## concat

In [72]:
x = pd.Series([1, 2, 3])
y = pd.Series([4, 5, 6])
z = pd.Series([7, 8, 9])

pd.concat([x, y, z])

0    1
1    2
2    3
0    4
1    5
2    6
0    7
1    8
2    9
dtype: int64

In [73]:
pd.concat([x, y, z], verify_integrity=True) #같은 값의 인덱스가 있을경우 오류

ValueError: ignored

In [77]:
pd.concat([x, y, z], ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [75]:
pd.concat([x, y, z], ignore_index=True, axis=1)

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [78]:
x = pd.Series([1, 2, 3, 4])
y = pd.Series([4, 5, 6])
z = pd.Series([7, 8, 9])

In [79]:
pd.concat([x, y, z], ignore_index=True, axis=1, join='inner')

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [83]:
pd.concat([x, y, z], ignore_index=True, axis=1, join='outer')

   0    1    2
0  1  4.0  7.0
1  2  5.0  8.0
2  3  6.0  9.0
3  4  NaN  NaN

## 연산과 집계함수

In [84]:
x = pd.Series([1, 2, 3, 4, 5])
y = pd.Series([6, 7, 8, 9, 0])

In [85]:
#더하기
print(x.add(10))
print(x.add(y))

0    11
1    12
2    13
3    14
4    15
dtype: int64
0     7
1     9
2    11
3    13
4     5
dtype: int64

In [86]:
#빼기
print(x.sub(y))

0   -5
1   -5
2   -5
3   -5
4    5
dtype: int64

In [87]:
#곱하기
print(x.mul(y))

0     6
1    14
2    24
3    36
4     0
dtype: int64

In [89]:
#나누기
print(x)
print(x.floordiv(2))

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    0
1    1
2    1
3    2
4    2
dtype: int64

In [90]:
print(x.div(2))
print(x.mod(2))

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
dtype: float64
0    1
1    0
2    1
3    0
4    1
dtype: int64

In [93]:
# 제곱
print(x.pow(2))

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [94]:
# 기초통계
print(x.count())
print(x.min())
print(x.max())
print(x.mean())
print(x.median()) # 중간값
print(x.sum())
print(x.std()) # 표준편차
print(x.var()) # 분산
print(x.mad()) # 절대표준편차
print(x.describe()) # 기초통계모두

5
1
5
3.0
3.0
15
1.5811388300841898
2.5
1.2
count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [97]:
x.head(2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [96]:
x.tail(2)

3    4
4    5
dtype: int64

## 실습1

In [ ]:
x = [np.nan, 1, 2, 3, 4, 5]
y = pd.Series([x[np.random.randint(0, 6)] for i in range(20)])

print(y)
print("결측값개수", y.isnull().sum())
print(y.dropna())
y.fillna(y.mean())

# DataFrame

In [107]:
sales_data = {    
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

sales_data = pd.DataFrame(sales_data)
sales_data

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [110]:
print(type(sales_data))
print(type(sales_data['판매량']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [111]:
sales_data.iloc[1]

연도       2016
판매량        70
매출     300000
순이익    190000
Name: 1, dtype: int64

In [115]:
sales_data = {    
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

temp = pd.DataFrame(sales_data, columns=['판매량','매출','순이익'], index=sales_data['연도'])
temp

      판매량      매출     순이익
2015  103  500000  370000
2016   70  300000  190000
2017  130  400000  300000
2018  160  550000  480000
2019  190  700000  600000
2020  230  680000  590000

In [120]:
# 참고
temp.index.name = '연도'

## 파일생성

In [ ]:
%%writefile sales_data.csv
연도,판매량,매출,순이익
2015,103,500000,370000
2016,70,300000,190000
2017,130,400000,300000
2018,60,550000,480000
2019,190,700000,600000
2020,230,680000,590000

## CSV 파일읽기

In [126]:
sales_data = pd.read_csv('sales_data.csv', index_col='연도', header=0, sep=',')
sales_data

      판매량      매출     순이익
연도
2015  103  500000  370000
2016   70  300000  190000
2017  130  400000  300000
2018   60  550000  480000
2019  190  700000  600000
2020  230  680000  590000

In [119]:
sales_data.index

Int64Index([2015, 2016, 2017, 2018, 2019, 2020], dtype='int64', name='연도')

## CSV 파일쓰기

In [125]:
sales_data.to_csv('sales_data_save.csv', encoding='utf-8-sig')

## 데이터 추가

In [ ]:
sales_data = {    
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

sales_data = pd.DataFrame(sales_data)
sales_data

In [ ]:
sales_data['순이익율'] = (sales_data['순이익']/sales_data['매출']) * 100
sales_data

In [ ]:
def check(n):
    if n > 80:
        return '높음'
    else:
        return '낮음'

sales_data['순이익율_비교'] = sales_data['순이익율'].apply(check)
#sales_data['순이익율_비교'] = sales_data['순이익율'].apply(lambda n: '높음' if n > 80 else '낮음')
sales_data

## 데이터 추가 2

In [129]:
sales_data = {    
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

sales_data = pd.DataFrame(sales_data)
sales_data

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [132]:
sales_data[sales_data['매출'] > 300000]

     연도  판매량      매출     순이익
0  2015  103  500000  370000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [133]:
sales_data['테스트1'] = np.where(sales_data['판매량'] > 200, 0, sales_data['판매량'])
sales_data

     연도  판매량      매출     순이익  테스트1
0  2015  103  500000  370000   103
1  2016   70  300000  190000    70
2  2017  130  400000  300000   130
3  2018  160  550000  480000   160
4  2019  190  700000  600000   190
5  2020  230  680000  590000     0

In [137]:
sales_data[sales_data['판매량'] < 100]['판매량'] + 50

1    120
Name: 판매량, dtype: int64

In [138]:
sales_data['테스트2'] = sales_data[sales_data['판매량'] < 100]['판매량'] + 50
sales_data

     연도  판매량      매출     순이익  테스트1   테스트2
0  2015  103  500000  370000   103    NaN
1  2016   70  300000  190000    70  120.0
2  2017  130  400000  300000   130    NaN
3  2018  160  550000  480000   160    NaN
4  2019  190  700000  600000   190    NaN
5  2020  230  680000  590000     0    NaN

In [139]:
sales_data.loc[6] = [2021, 720000,650000, 360, 0, 0]
sales_data

     연도     판매량      매출     순이익  테스트1   테스트2
0  2015     103  500000  370000   103    NaN
1  2016      70  300000  190000    70  120.0
2  2017     130  400000  300000   130    NaN
3  2018     160  550000  480000   160    NaN
4  2019     190  700000  600000   190    NaN
5  2020     230  680000  590000     0    NaN
6  2021  720000  650000     360     0    0.0

In [140]:
sales_data.loc[7] = sales_data.loc[5] + 100
sales_data

       연도       판매량        매출       순이익   테스트1   테스트2
0  2015.0     103.0  500000.0  370000.0  103.0    NaN
1  2016.0      70.0  300000.0  190000.0   70.0  120.0
2  2017.0     130.0  400000.0  300000.0  130.0    NaN
3  2018.0     160.0  550000.0  480000.0  160.0    NaN
4  2019.0     190.0  700000.0  600000.0  190.0    NaN
5  2020.0     230.0  680000.0  590000.0    0.0    NaN
6  2021.0  720000.0  650000.0     360.0    0.0    0.0
7  2120.0     330.0  680100.0  590100.0  100.0    NaN

## 데이터 삭제

In [141]:
sales_data = {    
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

sales_data = pd.DataFrame(sales_data)
sales_data['테스트1'] = 'test1'
sales_data['테스트2'] = 'test2'
sales_data['테스트3'] = 'test3'

sales_data

     연도  판매량      매출     순이익   테스트1   테스트2   테스트3
0  2015  103  500000  370000  test1  test2  test3
1  2016   70  300000  190000  test1  test2  test3
2  2017  130  400000  300000  test1  test2  test3
3  2018  160  550000  480000  test1  test2  test3
4  2019  190  700000  600000  test1  test2  test3
5  2020  230  680000  590000  test1  test2  test3

In [142]:
del sales_data['테스트1']
sales_data

     연도  판매량      매출     순이익   테스트2   테스트3
0  2015  103  500000  370000  test2  test3
1  2016   70  300000  190000  test2  test3
2  2017  130  400000  300000  test2  test3
3  2018  160  550000  480000  test2  test3
4  2019  190  700000  600000  test2  test3
5  2020  230  680000  590000  test2  test3

In [143]:
sales_data.drop(['테스트2'], axis='columns', inplace=True)
sales_data

     연도  판매량      매출     순이익   테스트3
0  2015  103  500000  370000  test3
1  2016   70  300000  190000  test3
2  2017  130  400000  300000  test3
3  2018  160  550000  480000  test3
4  2019  190  700000  600000  test3
5  2020  230  680000  590000  test3

In [144]:
sales_data.drop(['테스트3'], axis='columns', inplace=True)
sales_data

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [146]:
sales_data.columns[[0, 2]]

Index(['연도', '매출'], dtype='object')

In [147]:
sales_data.drop(sales_data.columns[[0, 2]], axis='columns', inplace=True)
sales_data

   판매량     순이익
0  103  370000
1   70  190000
2  130  300000
3  160  480000
4  190  600000
5  230  590000

In [148]:
# 행 삭제
sales_data.drop(0, inplace=True)
sales_data

   판매량     순이익
1   70  190000
2  130  300000
3  160  480000
4  190  600000
5  230  590000

In [149]:
sales_data.drop([3, 4, 5], inplace=True)
sales_data

   판매량     순이익
1   70  190000
2  130  300000

## Dataframe MultiIndex

In [150]:
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 4)), 
                  index=[['A','A','B','B'],['a','b','a','b']], 
                  columns=[['가가','가가','나나','나나'],['가','나','가','나']])
df

     가가      나나
      가   나   가   나
A a  96  23  19  19
  b  78  87  16  31
B a   1  84  24  39
  b  63  19  80  21

In [151]:
df['가가']

      가   나
A a  96  23
  b  78  87
B a   1  84
  b  63  19

In [152]:
df.loc['A']

   가가      나나
    가   나   가   나
a  96  23  19  19
b  78  87  16  31

In [153]:
df.index

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('B', 'a'),
            ('B', 'b')],
           )

In [154]:
df.columns

MultiIndex([('가가', '가'),
            ('가가', '나'),
            ('나나', '가'),
            ('나나', '나')],
           )

## GroupBy

In [155]:
df = pd.DataFrame(np.random.randint(1, 100, size=(8, 2)), 
                  index=[['A창고','A창고','A창고','A창고','B창고','B창고','B창고','B창고'],
                         ['사과','배','바나나','사과','사과','배','바나나','배']], 
                  columns=['판매','재고'])
df.index.names = ['창고명','상품명']
df

         판매  재고
창고명 상품명
A창고 사과   23  24
    배    46   4
    바나나  63  18
    사과   50  60
B창고 사과   54  98
    배    27  77
    바나나  35  98
    배    74  45

In [156]:
df.groupby('창고명').sum()

      판매   재고
창고명
A창고  182  106
B창고  190  318

In [157]:
df.groupby('창고명').max()

     판매  재고
창고명
A창고  63  60
B창고  74  98

In [158]:
df.groupby('창고명').min()

     판매  재고
창고명
A창고  23   4
B창고  27  45

In [159]:
df.groupby('상품명').sum()

      판매   재고
상품명
바나나   98  116
배    147  126
사과   127  182

In [160]:
df.groupby(['창고명','상품명']).sum()

          판매   재고
창고명 상품명
A창고 바나나   63   18
    배     46    4
    사과    73   84
B창고 바나나   35   98
    배    101  122
    사과    54   98

## sort_values

In [161]:
df = pd.DataFrame(np.random.randint(1, 100, size=(8, 2)), 
                  index=[['A창고','A창고','A창고','A창고','B창고','B창고','B창고','B창고'],
                         ['사과','배','바나나','사과','사과','배','바나나','배']], 
                  columns=['판매','재고'])
df

         판매  재고
A창고 사과   33  76
    배    71  55
    바나나  38   8
    사과   22  33
B창고 사과   45   1
    배    83  19
    바나나  86  41
    배    38  50

In [162]:
df.sort_values(by="판매", ascending=True)

         판매  재고
A창고 사과   22  33
    사과   33  76
    바나나  38   8
B창고 배    38  50
    사과   45   1
A창고 배    71  55
B창고 배    83  19
    바나나  86  41

In [163]:
df.sort_values(by=["판매", "재고"], ascending=[True, False])

         판매  재고
A창고 사과   22  33
    사과   33  76
B창고 배    38  50
A창고 바나나  38   8
B창고 사과   45   1
A창고 배    71  55
B창고 배    83  19
    바나나  86  41

## 실습2

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, size=(15, 3)),
        index = [['1학년' for i in range(5)] + ['2학년' for i in range(5)] + ['3학년' for i in range(5)],
                [str(i)+'반' for i in range(1, 6)] + [str(i)+'반' for i in range(1, 6)] + [str(i)+'반' for i in range(1, 6)]],
                columns = ['국어', '영어', '과학'])
df

In [ ]:
df['총점'] = df['국어'] + df['영어'] + df['과학']
df['평균'] = df['총점'] / 3
df

In [ ]:
df.index.names = ['학년','반']
df

In [ ]:
df.groupby('학년').sum()

## 실습3

In [ ]:
titanic_df = pd.read_csv('./titanic_train.csv')

In [ ]:
titanic_df.info()

In [ ]:
titanic_df.head(3)

In [ ]:
print(titanic_df.isnull().sum())
titanic_df['Age'].fillna(titanic_df['Age'].mean(),inplace=True)
titanic_df['Cabin'].fillna('N',inplace=True)
titanic_df['Embarked'].fillna('N',inplace=True)
print(titanic_df.isnull().sum())

In [ ]:
titanic_df.groupby('Sex')['Survived'].sum()

In [ ]:
titanic_df.groupby('Pclass')['Survived'].sum()

In [ ]:
def changeAge(n):
    if n // 10 == 0:
        return '유아'
    elif n // 10 == 1:
        return '10대'
    elif n // 10 == 2:
        return '20대'
    elif n // 10 == 3:
        return '30대'
    elif n // 10 == 4:
        return '40대'
    elif n // 10 == 5:
        return '50대'
    elif n // 10 == 6:
        return '60대'
    else:
        return '노인'

In [ ]:
titanic_df['Age_Range'] = titanic_df['Age'].apply(changeAge)

In [ ]:
titanic_df.groupby('Age_Range')['Survived'].sum()